path {
    transform-origin: initial;
    transition: all .5s ease;
    z-index: 1;
}

path:hover {
    transform: scale(1.3);
    z-index: 5;
}

#legend {
    padding: 15px;
    flex-shrink: 1;
    width: 20%;
    height: 600px;
    background-color: rgba(0,0,0,.4);
}

#legend #legendtitle {
    padding: 5px;
    font-family: Resamitz;
    font-size: 1.4em;
}

#legend .legenditems {
    font-family: Glametrix;
    font-size: 2em;
}

.block {
    width: 20px;
    height: 20px;
    background-color: white;
    display: inline-block;
}